body {
	font-family: sans-serif;
	background-color: rgba(200, 0, 0, 0.2);
	margin: 10px;
}

.chart {
	width: 100%;
    height: 300px;
    margin-bottom: 10px;
}



.empty{
	width: 100%;
	background: white;
	border: black;
	color: black;
}

.full{
	background: black;
	border: black;
	color: white;
}

div.ClearButton
{
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
}

.container{
display: flex;
	flex-direction: row;

}

.shaft-container{
	width: 20%;
	padding: 0 20px;
	height: 100vh;
}

.btnAmount{
	height: 3.5vh;
}

